.DS_Store
.ipynb_checkpoints/
.DS_Store
.ipynb_checkpoints/
Final_figs_plots/Final_figs/Fig3/Data/sol_v_3c.pkl
Final_figs_plots/Final_figs/Fig3/Data/sol_x_3c.pkl
Final_figs_plots/Final_figs/Fig3/Data/protocol_3d.pkl
